.add-all-to-favs-AIJoEv {
  background-color: transparent;
  color: var(--white);
  font-family: 'TT Norms-Bold', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 51px;
  left: 19px;
  letter-spacing: -0.60px;
  line-height: 20.3px;
  position: absolute;
  text-align: left;
  top: 77px;
  width: 104px;
}
.albums {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 2169px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 922px;
}
.at-least-for-now-yyDtVX {
  background-color: transparent;
  color: rgba(228,228,228,1.0);
  flex-shrink: 0;
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 163px;
  position: relative;
  text-align: left;
  width: auto;
}
.background2-4eduM0 {
  background-color: transparent;
  height: 1730px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 918px;
}
.benjamin-clementine-yyDtVX {
  background-color: transparent;
  color: rgba(255,255,255,0.48);
  flex-shrink: 0;
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1px;
  min-height: 15px;
  min-width: 146px;
  position: relative;
  text-align: left;
  width: auto;
}
.blogs-xng6eV {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 10px;
  margin-top: 1.0px;
  min-height: 25px;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 77px;
}
.blogs-xng6eV:hover {

transform: translate(0, -4px);
}
.border-class-1 {

}
.cilplus-xng6eV {
  align-items: center;
  align-self: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 27px;
  justify-content: flex-start;
  margin-left: 21px;
  overflow: hidden;
  padding: 0 3px;
  position: relative;
  width: 24px;
}
.colors-bac-d-gradient-VXNvua {
  background-color: transparent;
  background-image: url(/img/bg-gradient@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.dream-on-ztr1Ek {
  background-color: transparent;
  color: rgba(228,228,228,1.0);
  flex-shrink: 0;
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 98px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-10-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 74px;
  min-height: 431px;
  position: absolute;
  top: 0px;
  width: 249px;
}
.frame-3-gR69Qu {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 37px;
  justify-content: flex-start;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 348px;
  width: 98px;
}
.frame-3-llZiop {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 37px;
  justify-content: flex-start;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 348px;
  width: 163px;
}
.frame-8-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 374px;
  min-height: 431px;
  position: absolute;
  top: 0px;
  width: 249px;
}
.group-1253-4eduM0 {
  background-color: transparent;
  height: 140px;
  left: 724px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 160px;
}
.group-1253-4eduM0:hover {

box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.group-1253-BJQsbv {
  background-color: transparent;
  height: 140px;
  left: 724px;
  pointer-events: auto;
  position: absolute;
  top: 199px;
  transition: all 0.2s ease;
  width: 160px;
}
.group-1253-BJQsbv:hover {

box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.header-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 56px;
  position: relative;
  width: 918px;
}
.home-xng6eV {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 25px;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 67px;
}
.home-xng6eV:hover {

transform: translate(0, -4px);
}
.image-7-IcPKRJ {
  background-color: transparent;
  height: 87px;
  left: 291px;
  position: absolute;
  top: 19px;
  width: 168px;
}
.lato-bold-oasis-18px {
  color: var(--oasis);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.lato-normal-abbey-18px {
  color: var(--abbey);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.misc-avatar40x40-ab-IcPKRJ {
  background-color: transparent;
  height: 40px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 40px;
}
.music-page-xng6eV {
  background-color: transparent;
  color: var(--abbey);
  flex-shrink: 0;
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 2px;
  margin-top: 1.0px;
  min-height: 25px;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 105px;
}
.music-page-xng6eV:hover {

transform: translate(0, -4px);
}
.overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 1798px;
  margin-left: -4px;
  margin-top: 41px;
  position: relative;
  width: 918px;
}
.overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 188px;
  margin-left: 48px;
  margin-top: 86px;
  position: relative;
  width: 729px;
}
.overlap-group4-Orh1xz {
  background-color: transparent;
  flex-shrink: 0;
  height: 385px;
  margin-left: -30px;
  margin-top: -10px;
  position: relative;
  width: 305px;
}
.overlap-group5-NyxS9z {
  background-color: transparent;
  flex-shrink: 0;
  height: 385px;
  margin-left: -30px;
  margin-top: -10px;
  position: relative;
  width: 305px;
}
.play-all-shuffled-RmKyEf {
  background-color: transparent;
  color: var(--white);
  font-family: 'TT Norms-Bold', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 52px;
  left: 18px;
  letter-spacing: -0.60px;
  line-height: 20.3px;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 109px;
}
.rectangle-13-RmKyEf {
  background-color: transparent;
  height: 200px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 220px;
}
.rectangle-14-AIJoEv {
  background-color: transparent;
  height: 200px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 220px;
}
.rectangle-8-gR69Qu {
  background-color: transparent;
  height: 368px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 305px;
}
.rectangle-8-llZiop {
  background-color: transparent;
  height: 368px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 305px;
}
.roger-terry-ztr1Ek {
  background-color: transparent;
  color: rgba(255,255,255,0.48);
  flex-shrink: 0;
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1px;
  min-height: 15px;
  min-width: 83px;
  position: relative;
  text-align: left;
  width: auto;
}
.search-IcPKRJ {
  background-color: transparent;
  height: 40px;
  left: 869px;
  position: absolute;
  top: 8px;
  width: 40px;
}
.text-RH0WJ5 {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Avenir-Heavy', Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  height: 38px;
  left: 143px;
  letter-spacing: -0.84px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27px;
  width: auto;
}
.title-4uYf9V {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 0;
  font-family: 'Inter', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  letter-spacing: 0.00px;
  line-height: 25.8px;
  min-height: 40px;
  position: relative;
  text-align: center;
  width: 42px;
}
.title-RH0WJ5 {
  background-color: transparent;
  color: var(--abbey);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 729px;
}
.vector-JTw8zN {
  background-color: transparent;
  height: 35px;
  left: -0px;
  position: absolute;
  top: 2px;
  width: 43px;
}
.vector-SVnJYg {
  background-color: transparent;
  flex-shrink: 0;
  height: 21px;
  position: relative;
  width: 18px;
}
.vector-a2xx1T {
  background-color: transparent;
  height: 11px;
  left: -1px;
  position: absolute;
  top: 7px;
  width: 19px;
}
.vector-xzuXZA {
  background-color: transparent;
  flex-shrink: 0;
  height: 39px;
  margin-left: 0px;
  margin-top: -0.23px;
  position: relative;
  width: 42px;
}
.wendyone-normal-stack-14px {
  color: var(--stack);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.wendyone-normal-white-20px {
  color: var(--white);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.x-light-IcPKRJ {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 56px;
  justify-content: flex-end;
  left: 0px;
  min-width: 918px;
  padding: 14px 64px;
  position: absolute;
  top: 0px;
  width: auto;
}
.x002-add-button-1-AIJoEv {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 39px;
  justify-content: flex-start;
  left: 19px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 41px;
}
.x102-shuffle-1-RmKyEf {
  background-color: transparent;
  height: 39px;
  left: 18px;
  overflow: hidden;
  position: absolute;
  top: 14px;
  width: 42px;
}
.x20-sp-title-medium-VXNvua {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  left: 0px;
  min-width: 42px;
  position: absolute;
  top: 0px;
  width: auto;
}
:root {
  --abbey: rgba(79,79,79,1.0);
  --oasis: rgba(253,239,209,1.0);
  --oasis-2: rgba(254,239,208,1.0);
  --stack: rgba(138,138,138,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.8);
}
