.arrow-chevronbigleft-ol4xIt {
  background-color: transparent;
  height: 37px;
  left: 15px;
  position: absolute;
  top: 7px;
  width: 24px;
}
.arrow-chevronbigleft-tIrUBe {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  height: 51px;
  margin-top: 36px;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 54px;
}
.arrow-chevronbigleft-tIrUBe:hover {

transform: translate(-5px, 0);
}
