.auto-flex4-Fh7nUm {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  min-height: 319px;
  position: relative;
  width: 192px;
}
.auto-flex5-Fh7nUm {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 27px;
  min-height: 319px;
  position: relative;
  width: 193px;
}
.auto-flex6-3qpAIQ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 324px;
  justify-content: flex-start;
  margin-top: 11px;
  min-width: 797px;
  position: relative;
  width: auto;
}
.believer-FxRuPw {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 81px;
  position: relative;
  text-align: left;
  width: auto;
}
.chaff-dust-OYcg2P {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 118px;
  position: relative;
  text-align: left;
  width: auto;
}
.dream-on-XXlQXL {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 98px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-1-ahIjTr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 98px;
}
.frame-1-iIYd5q {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 118px;
}
.frame-1-wz3uof {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 111px;
}
.frame-10-Fh7nUm {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  margin-top: 5px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-10-Fh7nUm:hover {

transform: scale(1.1);
}
.frame-10-IxGhfg {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-10-IxGhfg:hover {

transform: scale(1.1);
}
.frame-10-tIrUBe {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-10-tIrUBe:hover {

transform: scale(1.1);
}
.frame-11-Fh7nUm {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  margin-left: 27px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-11-Fh7nUm:hover {

transform: scale(1.1);
}
.hyonna-OYcg2P {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 64px;
  position: relative;
  text-align: left;
  width: auto;
}
.imagine-dragon-FxRuPw {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 111px;
  position: relative;
  text-align: left;
  width: auto;
}
.latest-tracks-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 74px;
  min-height: 373px;
  position: absolute;
  top: 887px;
  width: 797px;
}
.latest-tracks-added-3qpAIQ {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 0;
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 38px;
  min-width: 331px;
  position: relative;
  text-align: left;
  width: auto;
}
.rectangle-12-B7WdcB {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.rectangle-12-ahIjTr {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.rectangle-12-iIYd5q {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.rectangle-12-wz3uof {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.roger-terry-XXlQXL {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 83px;
  position: relative;
  text-align: left;
  width: auto;
}
