.minicaps-x0GJT8 {
  background-color: transparent;
  color: rgba(224,224,224,1.0);
  flex-shrink: 0;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 12.9px;
  min-height: 18px;
  position: relative;
  text-align: right;
  width: 37px;
}
.rating-Orh1xz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 27px;
  justify-content: flex-start;
  margin-left: 19px;
  margin-top: 29px;
  min-width: 104px;
  position: relative;
  width: auto;
}
.star-JnemaV {
  background-color: transparent;
  flex-shrink: 0;
  height: 24px;
  margin-left: 1px;
  margin-top: -0.19px;
  position: relative;
  width: 15px;
}
.star-Q4P12Q {
  background-color: transparent;
  flex-shrink: 0;
  height: 24px;
  margin-left: 1px;
  margin-top: -0.19px;
  position: relative;
  width: 14px;
}
.star-UuKVA9 {
  background-color: transparent;
  flex-shrink: 0;
  height: 24px;
  margin-left: -14px;
  margin-top: -0.19px;
  position: relative;
  width: 15px;
}
.star-sgUrvw {
  background-color: transparent;
  flex-shrink: 0;
  height: 24px;
  margin-left: 2px;
  margin-top: -0.19px;
  position: relative;
  width: 15px;
}
.star-zq32LN {
  background-color: transparent;
  flex-shrink: 0;
  height: 24px;
  margin-left: 2px;
  margin-top: -0.19px;
  position: relative;
  width: 14px;
}
.x10-sp-caps-xs-medium-UuKVA9 {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 18px;
  justify-content: flex-start;
  margin-bottom: 0.43px;
  margin-left: 1px;
  min-width: 37px;
  opacity: 0.48;
  position: relative;
  width: auto;
}
.rating-NyxS9z {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 27px;
  justify-content: flex-start;
  margin-left: 19px;
  margin-top: 29px;
  min-width: 104px;
  position: relative;
  width: auto;
}
