.auto-flex7-MVIQEK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  min-height: 289px;
  position: relative;
  width: 193px;
}
.auto-flex8-0UhoSn {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 289px;
  justify-content: flex-start;
  min-width: 796px;
  position: relative;
  width: auto;
}
.auto-flex9-0UhoSn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 51px;
  justify-content: flex-start;
  margin-right: 14.0px;
  margin-top: 36px;
  min-width: 108px;
  position: relative;
  width: auto;
}
.benjamin-clementine-TxM8VD {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 146px;
  position: relative;
  text-align: left;
  width: auto;
}
.benjamin-clementine-fzavzt {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 146px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-1-3qiD0e {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 22px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 146px;
}
.frame-1-HAfyqM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 140px;
}
.frame-1-wkQhJn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 22px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 146px;
}
.frame-2-W9gGPL {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  margin-top: 19px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-2-W9gGPL:hover {

transform: scale(1.1);
}
.frame-5-MVIQEK {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  margin-left: 12px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-5-MVIQEK:hover {

transform: scale(1.1);
}
.frame-6-MVIQEK {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  margin-left: 27px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-6-MVIQEK:hover {

transform: scale(1.1);
}
.frame-7-MVIQEK {
  background-color: transparent;
  flex-shrink: 0;
  height: 232px;
  margin-left: 27px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 179px;
}
.frame-7-MVIQEK:hover {

transform: scale(1.1);
}
.jazz-TxM8VD {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: -0.60px;
  line-height: normal;
  min-height: 21px;
  min-width: 43px;
  position: relative;
  text-align: left;
  width: auto;
}
.minimal-fzavzt {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: -0.60px;
  line-height: normal;
  margin-left: 0.05px;
  min-height: 21px;
  min-width: 80px;
  position: relative;
  text-align: left;
  transform: rotate(0.27deg);
  width: auto;
}
.rectangle-12-3qiD0e {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.rectangle-12-HAfyqM {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.rectangle-12-spFrKx {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.rectangle-12-wkQhJn {
  background-color: transparent;
  height: 230px;
  left: -30px;
  position: absolute;
  top: -10px;
  width: 239px;
}
.tame-impala-CR6QBY {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 91px;
  position: relative;
  text-align: left;
  width: auto;
}
.the-slow-rush-CR6QBY {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 140px;
  position: relative;
  text-align: left;
  width: auto;
}
.top-genres-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 74px;
  min-height: 289px;
  position: absolute;
  top: 490px;
  width: 796px;
}
.top-genres-W9gGPL {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 0;
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 38px;
  min-width: 193px;
  position: relative;
  text-align: left;
  width: auto;
}
