.frame-1-B7WdcB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 156px;
}
.rejoice-2tGHxl {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 73px;
  position: relative;
  text-align: left;
  width: auto;
}
.tony-allen-hugh-mas-2tGHxl {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 0px;
  min-height: 15px;
  min-width: 156px;
  position: relative;
  text-align: left;
  width: auto;
}
.frame-1-spFrKx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: flex-start;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 186px;
  width: 156px;
}
